body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}
#Home {    
position: absolute;
    height: 800px;
    color: aqua;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: .83;
    display: table;
    height: 100%;
    width: 100%;
    z-index: 9;
    background:linear-gradient(#60ebeb 0%, #27ae60 100%)
}
.menu {
    list-style: none;
    font-family: sans-serif;
    position:fixed;
    top:0px;
    right: auto;
    z-index: 10;
    cursor:pointer;
    background: white;
    width:100%;
    margin-top: 0px;
}
.link {
    float: left;
    color: blue;
    padding-top: 5px;
    padding-left: 33px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: fantasy;
    display:inline;
}
.link:hover{
    font-size: 25px;
    text-decoration: underline;
}
html {
    scroll-behavior: smooth;
}
img {
    width: 500px;
}
#img2 {
    width: 700px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 20px;
}
h1 {
 font-size: 30px;
font-family: fantasy;
}
#grid view {
    background-color: aqua;
}
#slid view {
    background-color: aqua;
    margin: 50px;
}
#menu {
    background-color: lightblue;
    font-family: cursive;
    font-size: 30px;
}
.slid view img {
    width: 600px;
}